!!!
html
  head
    title= title
    link(rel='icon', type='image/png', href='/images/favicon.ico')
    link(href='/stylesheets/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/css/style.css', rel='stylesheet')
    script(src='/javascripts/js/bootstrap.min.js')
  body!= body