!!!
html
  head
    title= title
    link(rel='icon', type='image/png', href='/images/favicon.ico')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    link(href='/stylesheets/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/css/style.css', rel='stylesheet')
    script(src='http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js')
    script(src='/javascripts/js/backbone-min.js')
    script(src='/javascripts/js/bootstrap.min.js')
    script(src='/javascripts/js/style.js')
    script(src='/javascripts/js/chosen.jquery.min.js')
    script(src='/javascripts/js/menu.js')
    script(src='/javascripts/js/properties.js')
    link(href='/stylesheets/css/chosen.css', rel='stylesheet')

    
  body!= body