br
div.container
	div.hero-unit
		h1 Oops,
		h2 Seems like you forgot to configure the API
		h4 Here's how to do it:
		ol
			li Use config.json.tp as a template for the configuration file
			li Edit the values of the file to your liking
			li Rename config.json.tp to config.json
			li Restart the application
			li Refresh this page
	include _includes/footer
